body {
  background-color: #5CDB95;
  margin: 0 auto;
}
p1 {
  color: yellow;
}

ul {
  display: inline-block;
}
li {
  display: inline-block;
  float: left
}

h4 {
  align-content: center;
  font-size: 50px;
  margin-top:2%;
  font-weight: bold;
}
h5 {
  align-content: center;
  font-size:75px;
  margin-top: 13%;
  font-weight: bold;
  margin-bottom: 10%;


}
p5 {
  align-content: center;
  font-size: 30px;
}

.namecolor {
  background-color: #379683;
  padding-top: 1%;
  padding-bottom: 7%;
}

.textdown{
  margin-top: 1%;
}

.navbar-nav {
  width: auto;
  left: 0px;
  right: 0px;
  text-align: center;
  position: absolute;
}
.navbar {
  height: 100px;
  background-color: #EDF5E1;
}
.nav-text {
  font-size: 50px;
}

.box1 {
  background-color: #05386B;
  margin-left: 15px;
  width: 30px;
  height: 30px;
}

.box2 {
  background-color: #05386B;
  margin-left: 15px;
  width: 30px;
  height: 30px;
}

.box3 {
  background-color: #05386B;
  margin-left: 15px;
  width: 30px;
  height: 30px;
}

div#a {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#b {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#c {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#d {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#e {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#f {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#g {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#h {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#i {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#j {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#k {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#l {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#m {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#n {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#o {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#p {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#q {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#r {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#s {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#t {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#u {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#v {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#w {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#x {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
div#y {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
.button {
	width:50px;
	height:50px;
	background-color:red;
	position:absolute;
}
.proj {
  background-color: #d3d3d3;
  display: block;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  width:600px;
}
