body {
  background-color: lightblue;
}
p1 {
  color: yellow;
}
ul {
    width: 100vw;
    background: yellow;
    padding: 0;
    margin: 0;
    overflow: auto;
    list-style-type: none;
}

li {
    width: 33%;
    float: left;
    margin: 2.5%;
}
