body {
	background-color: #FFF0DF
}
div#a {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#b {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#c {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#d {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#e {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#f {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#g {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#h {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#i {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#j {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#k {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#l {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#m {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#n {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#o {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#p {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#q {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#r {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#s {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#t {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#u {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#v {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#w {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#x {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
div#y {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
}
.button {
	width:63px;
	height:50px;
	background-color:red;
	position:absolute;
	background-image: url(https://i.imgur.com/XFxT6ZG.png);
	color: red;
}
